html,body {
height: 100%;
}  
.banner {
  width: 100%;
  height: auto;
  position: relative;
  text-align: center;
}
.banner img {
  max-width: 100%;
  height: auto;
}
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}
body {
	color: #FFFFFF;
	background-color: #1B1E21;
}
p {
	width: 40%;
	border: 5px #202124;
	margin: 0;
	padding: 2px 2px 0 2px;
	line-height: 155%;
	font-family: Verdana,sans-serif;
    font-size: 15px;
}

.container {
display: flex;
margin: auto;
width: 90%;
font-family: Verdana,sans-serif;
font-size: 18px;
line-height: 25px;
background-color: #23262b;
padding: 25px;
box-sizing: border-box;
border-radius: 10px;
border-style: solid;
border-color: #272b30;
border-width: 2px;
flex-wrap: wrap;
column-gap: 10px;
align-items: baseline;
}

.boxfour {
  display: grid;
  width: 120px;
  grid-template-columns: 60px 60px;
  align-items: start;
  justify-items: center;
  justify-content: space-evenly;
  background-color: #272b30;
  border-color: #EBDBB2;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  padding: 3px;
  padding-top: 6px;
  float: left;
}

.boxone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 114px;
  grid-template-columns: 60px;
  align-self: center;
  text-align: center;
  background-color: #272b30;
  border-color: #EBDBB2;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  padding: 3px;
  float: left;
}


p-1 {
  display: block;
  margin: auto;
  width: 90%;
  font-family: Verdana,sans-serif;
  font-size: 18px;
  line-height: 25px;
  background-color: #23262b;
  padding: 25px;
  box-sizing: border-box;
  border-radius: 10px;
  border-style: solid;
  border-color: #272b30;
  border-width: 2px;
}

p-1 code
{
  padding: 8px;
  margin-bottom: 5px;
  background-color: #33393d;
  border-radius: 8px;
}

p-1 img
{
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
  
p-1 a:link {
  color: #52b9c5;
}

p-1 a:visited {
  color: #52b9c5;
}

p-1 a:hover {
  color: #65bcc5;
}
 
/*scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1B1E21; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #555555; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* Navbar */
nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 2px;
  overflow: hidden;
  background-color: #1f2226;
  font-family: Verdana,sans-serif;
  font-size: 15px;
}

nav-bar li {
  float: left;
}

nav-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Verdana,sans-serif;
  font-size: 15px;
}

/* Change the link color to #111111 (black) on hover */
nav-bar li a:hover {
  background-color: #111111;
  border-radius: 10px;
}